*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

/**header**/

header {
  position: relative;
  background-color: rgba(42,45,36,0.9);
  width: 100%;
  height: 80px;
  padding:25px 15px;
}

.logo {
  width: 130px;
  height: 33px;
  display: flex;
  top: 15px;
  left: 10px;
}

header button {
  z-index: 2;
  position: relative;
  font-size: 30px;
  cursor: pointer;
}

/**CPOSC Info**/

.info {
  display: flex;
  flex-direction: column;
  background-color: #C7AC6D;
  margin-top: -80px;
  height: 700px;
  font-family: "lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.info h1 {
  font-size: 40px;
  margin-top: 300px;
  margin-bottom: 140px;
  text-align: center;
  color: #e5e4da;
  font-weight: 300;
}

.DateLoc{
  display: flex;
  flex-direction: column;
}

.Date {
  width: 250px;
  font-size: 40px;
  padding-left: 10px;
  border-right: solid black 1px;
}

.info_header{
  font-size: 30px;
}

.info_header, .Location_Date {
  width: 180px;
 text-align: center;
}

.info_header1 {
  display: none
}

.DateLoc .info_header {
}

.info p {
  color: black;
  font-size:
}

.info .msg {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  padding-bottom: 200px;
  color: white;
}

.img {
display: none;
}

/**button**/

.tabs {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

 button {
   cursor: pointer;
   width: 45px;
   height: 45px;
 }

 .menu {
   display: flex;
   flex-direction: column;
   background-color: brown;
   padding-top: 20px;
   display: none;
 }


 .menu li {
  list-style: none;
  border-bottom: 1px solid #FFF;
  padding: 0 40px 10px 20px;
  margin: 10px;
}

.menu li:last-of-type {
  border-bottom: none;
}

button:hover .menu {
  display: flex;
  flex-direction: column;
}

/** About CPOSC **/
.AboutCPOSC {
    padding: 20px 25px 10px 25px;
}

.p1 {
  color: gray;
  font-size: 20px;
  padding-top: 300px;

}

h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

.AboutCPOSC p {
  padding-bottom: 40px;
}
/**connect**/


.Media {
  display: flex;
  flex-direction: column;
  background-color: #24648c;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  margin: 10px;
  border-radius: 5px;
  max-width: 798px;
  margin: 0 auto;
}
.Media .Media_links {
  flex-direction: row;
  margin: 0px 10px 0px 10px;
}

.Media_connect {
  padding: 30px 0px 40px 0px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.Media .Media_links .Media_pic {
  padding-right: 20px;
}
/**sponsor**/

.sponsor {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  padding-bottom: 40px;
}

.sponsor h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.sponsor p {
  font-size: 20px;
  color: gray;
  padding-bottom: 40px;
}
.sponsor_button {
  display: flex;
  background-color: #768591;
  color: white;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 15px 0px;
  width: 300px;
  text-transform: uppercase;
}

.sponsor_rank {
  font-size: 20px;
  font-weight: 300;
  color: blue;
  text-transform: uppercase;
}

.sponsor_img {
  width: 100%;
  height: auto;
  padding: 10px 0px;
}

@media only scource and (min-width: 990px){
  .sponsor_img {
    width: 25%;
  }
}

/**Code of Conduct**/

.Conduct {
  background-color: #444444;
  color: white;
  padding: 50px 30px 0px 30px;
}

.Conduct p {
  padding-bottom: 100px;
}

.Conduct a {
  text-decoration: none;
  color: #999999;
}

.Conduct_img {
  width: 40px;
  height: 40px;
  margin: 10px 20px 20px 0px;
}

/**footer**/

.copywright {
  display: flex;
  background-color: #313131;
  color: #24648c;
  justify-content: center;
  padding: 40px 0px;
}

.copywright a {
    text-decoration: none;
    color: #768591;
}
